html {
    font-family: "century-gothic", sans-serif;
    background-color: white;
}


#pokemon-card {
    background-color: #061634;
    color: white;
    height: 6rem;
    width: 8rem;
    text-align:left;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0075BE;
    line-height: 1;
    
}

#pokemon-icon {
   height: 8rem;
}
