body {
    font-family: "century-gothic", sans-serif;
    background-color: white;
    max-width: 600px;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.5;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: linear-gradient(to top, #fb1b1b, #be082b, #7e102a, #000000);
    height: 20em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mainLogo {
    height: 6em;
    margin: 2em auto;
    display: flex;
    justify-content: center;
}
.catch, form {
    padding: 0 5em;
}
#search-bar {
    color: #000000;
    border: 0;
    border-radius: 8px;
    height: 20px;
    width: 100%;
    padding: 15px;
    outline: 1px;
    background-color: hsl(0, 100%, 80%);
    box-shadow:inset 0 2px 2px #949494;
}
#search-bar:hover {
    cursor:text;

}
.catch {
    color: #fff;
    padding-bottom: 1em;
}
strong {
    font-size: 16px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    max-height:max-content;
    overflow: hidden;
}

main {
    height: fit-content;
}
#poke-list {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}
h2 {
    font-size: 18px;
}
hr {
    border-top: 2px solid #0075BE;
    width: 320px;
     margin-bottom: 1em;
}
#pokemon-card {
    background-color: #061634;
    color: white;
    height: 6rem;
    width: 8rem;
    text-align:left;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0075BE;
    line-height: 1;
    
}
#pokemon-card p:not(:nth-child(1)) {
    font-size: 13px;
    position: relative;
}

#pokemon-icon {
   margin: auto;
   padding: 0;
   position: absolute;
}

#more {
    padding: 10px 50px;
    margin-left: 4em;
    background-image:linear-gradient(to bottom, #fb1b1b, #be082b, #7e102a);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-family: "century-gothic", sans-serif;
    font-size: 20px;
    font-weight: bold;
}


/***************************
****************************
****************************INFO PAGE**********************************/

.fa-solid {
    position: absolute;
    display: flex;
    margin-left: 85%;
    margin-top: 1em;
    font-size: 2em;
    color: #FFCC00;
}

.poster {
    background-image: linear-gradient(to bottom, #0075be, #95a0c9, #ffffff);
    height:20em ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: #949494 0 4px 8px;

}
.h1-info {
    margin-left: 65px;
}

#bigger-icon {
   height: 100px;
   margin-left: 55px;
   height: 250px;
}
.about {
    margin-top: 20px;
}
.about p {
    margin:20px 0;
}

.aboutInfo {
    display: inline-block;
	background-color: #061634;
    color: white;
	border-radius: 5px;
	padding: 15px;
	margin-left: 15px;
    box-shadow: #949494 0 4px 10px;
    margin-bottom: 2em;
}
.wrapper {
    max-width: 600px;
    margin: 25px 25px;
    max-height:max-content;
}
.h3-info {
    font-size: 14px;
    font-weight: bold;

}

.typeText {
    background-color: #0075BE;
    color: white;
	border-radius: 5px;
	padding: 10px 15px;
	margin-left: 15px;
    box-shadow: #949494 0 4px 10px;
    margin-bottom: 2em;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.h4 {
    display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
progress {
    width: 80%;
    height: 38px;
}
.progress-blue, .progress-purple, .progress-green, .progress-yellow, .progress-pink, .progress-orange {
    display: flex;
    justify-content:space-between;
}
.progress-blue h4, .progress-purple h4, .progress-green h4, .progress-yellow h4, .progress-pink h4, .progress-orange h4 {
    padding-top: 6px;
}
/* #blue {
    background-color: #FFCC00;
} */

.pokeball {
    height: 100px;
    border: none;
    background-color: transparent;
}

.pokeball img {
    height: 100px;
    margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*************************
**************************
************************** TABLET MEDIA QUERY *************************************/

/*//////////////////INDEX /////////////////////////////////*/

@media screen and (min-device-width: 601px) and (max-device-width: 820px){
    .banner {
        width: 820px;
    }
    .catch {
        margin-left: 15%;
        word-spacing: 30px;
    }

    hr {
        width: 820px;
    }

    main{
        margin-left: 5em;
    }

    #poke-list {
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    #pokemon-card {
        height: 10rem;
        width: 12rem;
        
    }   
    
    #pokemon-icon {
        padding: 0;
        position: absolute;
     }
     #pokemon-card {
        display: block;
        padding-left: 3.5em;
        padding-top: 2em;
        /* align-items: center; */
        justify-content:center;
    }
    #pokemon-card p:not(:nth-child(2)){
        margin-top: 5em;
    }
    #more {
        margin-left: 45%;
    } 

     
}