body {
    font-family: "century-gothic", sans-serif;
    background-color: white;
    max-width: 600px;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.5;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: linear-gradient(to top, #fb1b1b, #be082b, #7e102a, #000000);
    height: 20em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mainLogo {
    height: 6em;
    margin: 2em auto;
    display: flex;
    justify-content: center;
}
.catch, form {
    padding: 0 5em;
}
#search-bar {
    color: #000000;
    border: 0;
    border-radius: 8px;
    height: 20px;
    width: 100%;
    padding: 15px;
    outline: 1px;
    background-color: hsl(0, 100%, 80%);
    box-shadow:inset 0 2px 2px #949494;
}
#search-bar:hover {
    cursor:text;

}
.catch {
    color: #fff;
    padding-bottom: 1em;
}
strong {
    font-size: 16px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    max-height:max-content;
}

main {
    height: fit-content;
}
#poke-list {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}
h2 {
    font-size: 18px;
}
.favorites {
    margin-top: 20px;
    background-color: rgb(220,220,220, .5);
  }
  
  .favorites h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .favorites ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .favorites li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
hr {
    border-top: 2px solid #0075BE;
    width: auto;
    margin-bottom: 1em;
}

.card {
    background-color: #061634;
    color: white;
    height: 10rem;
    width: 12rem;
    text-align:left;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0075BE;
    line-height: 1;

}
img {
    margin-inline: 40px;
}

h3, p {
    text-transform: capitalize; 
}

p {
    margin: 5px;
}

#more {
    padding: 10px 50px;
   margin-left: 7em;
    background-image:linear-gradient(to bottom, #fb1b1b, #be082b, #7e102a);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-family: "century-gothic", sans-serif;
    font-size: 20px;
    font-weight: bold;
}


/***************************
****************************
****************************INFO PAGE**********************************/

  .fa-solid {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: #FFCC00;
    margin-left: 85%;
    margin-top: 1em;
    font-size: 2em;
  }

.poster {
    position: relative;
    background-image: linear-gradient(to bottom, #fb1b1b, #b60707, #ffffff);
    height:20em ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: #949494 0 4px 8px;

}
.h1-info {
    margin: 0 auto;
    max-width: 20%;
    text-transform: capitalize;
  }
  
  #bigger-icon {
    display: block;
    margin: 0 auto;
    height: 250px;
  }
  
.about {
    margin-top: 20px;
}
.about p {
    margin:20px 0;
}

.aboutInfo {
    display: inline-block;
	background-color: #061634;
    color: white;
	border-radius: 5px;
	padding: 15px;
	margin-left: 15px;
    box-shadow: #949494 0 4px 10px;
    margin-bottom: 2em;
}
.wrapper {
    max-width: 600px;
    margin: 25px 25px;
    max-height:max-content;
    width: -webkit-fill-available;
}
.h3-info {
    font-size: 14px;
    font-weight: bold;

}

.typeText {
    background-color: #929292;
    color: white;
	border-radius: 5px;
	padding: 10px 15px;
	margin-left: 15px;
    box-shadow: #949494 0 4px 10px;
    margin-bottom: 2em;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.h4 {
    display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

}
progress {
    width: 80%;
    height: 38px;
}
.progress-container {
    height: 25px;
    background-color: #eee;
    margin-top: 20px;
    border-radius: 5px;
  }
  
.progress-blue, .progress-purple, .progress-green, .progress-yellow, .progress-pink, .progress-orange {
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-left: 3em;
    border-radius: 5px;
}
.progress-blue {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to bottom, #00578d, #363c65, #35263e, #22151e, #000000);
  }
  
  .progress-purple {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to bottom, #6b0080, #5c0054, #440432, #270919, #000000);
  }
  
  .progress-green {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to bottom, #79be00, #000000);
  }
  
  .progress-yellow {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to bottom, #e4ec06, #4b4500);
  }
  
  .progress-pink {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to bottom, #e0054e, #a41542, #6c1831, #38131e, #000000);  }
  
  .progress-orange {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to bottom, #e4a002, #000000);
  }
  
.progress-blue h4, .progress-purple h4, .progress-green h4, .progress-yellow h4, .progress-pink h4, .progress-orange h4 {
   
    margin-left: -3em;
    
}

.pokeball img {
    height: 100px;
    
}


.pokeball {
    border: none;
    bottom: 40px;
    right: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(1,.02,0,1);
  }
  
  .pokeball:hover {
    animation: pokeball-hover 1s forwards;
  }
  
  .pokeball.clicked {
    animation: pokeball-clicked 0.5s;
  }
  
  @keyframes pokeball-clicked {
    0% {
        transform: rotate(0deg) scale(1);
      }
      50% {
        transform: rotate(180deg) scale(2.5);
      }
      100% {
        transform: rotate(360deg) scale(1);
        box-shadow: none;
      }
    }
  

/*************************
**************************
************************** MEDIA QUERY *************************************/

/*//////////////////INDEX /////////////////////////////////*/

@media screen and (min-width: 820px){

    body{
        max-width: 1200px;
        margin: auto;
    }
    .banner {
        width: 1200px;
    }
    .catch {
        margin-left: 15%;
        word-spacing: 30px;
    }


    main{
        margin-left: 5em;
    }

    #poke-list {
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    #pokemon-card {
        height: 10rem;
        width: 12rem;
        
    }   
    
    #pokemon-icon {
        padding: 0;
        position: absolute;
     }
     #pokemon-card {
        display: block;
        padding-left: 3.5em;
        padding-top: 2em;
        /* align-items: center; */
        justify-content:center;
    }
    #pokemon-card p:not(:nth-child(2)){
        margin-top: 5em;
    }
    #more {
        margin-left: 45%;
    } 
/*******************
********************
******************** INFO PAGE *******************************/

    .fa-solid {
        position: absolute;
        display: flex;
        margin-left: 90%;
        
        
    }
    .poster {
       max-width: 1200px;

    }
    .h1-info {
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
      }
    
      #bigger-icon {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    .about {
        margin-left: 1em;
        margin-right: 1em;
      }
    
    .about p {
        margin:20px 0;
    }
   
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        max-height:max-content;
    }

    hr {
        width: 90%;
    }
    
    .aboutInfo {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        width: 20em;
        margin-inline: 20px;
      }
      
  
    .h3-info {
        font-size: 18px;
        margin-top: 1em;
    }
    .typeText {
        padding: 10px 40px;
        margin-left: 15px;
        margin-bottom: 3em;
    }
    .stats {
        display: block;
    }
    .progress-blue, .progress-purple, .progress-green, .progress-yellow, .progress-pink, .progress-orange, .progress-container {
        width: 90%;
        height: 40px;
        margin-top: auto;
        margin-bottom: 20px;
    }
      .stats .wrapper {
    display: flex;
    flex-direction: column;
  }

  .stats .progress-bar {
    margin-bottom: 20px;
  }
  .pokeball img {
        height: 100px;
        margin-top: 100px;
}
}

    